.pagination-block.pager {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw;
    justify-content: center;
    list-style-type: none;
  }

  .pagination-block.pager li > a {
    min-height: 3em;
    min-width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .pagination-block.pager .active a {
    background: #e67e22;
    color: white;
  }

  .world-map-visualization .pagination-block .page_link,
  .world-map-visualization .pagination-block .next_link,
  .world-map-visualization .pagination-block .prev_link {
    text-decoration: none !important;
  }
